<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showMain</title>
</head>

<link rel="stylesheet" type="text/css" th:href="@{/css/showCss/showMain.css}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/showJs/showMain.js}"></script>

<body>
 <header th:fragment="header" class="header-container">
        <!-- 첫 번째 줄: 로고, 검색바, 로그인/회원가입 -->
        <div class="header-top">
            <div class="logo">
                <img src="/images/header/logo_only.png" alt="로고">  <!-- 로고 이미지 -->
            </div>

            <div>
                <div class="search-bar">
                    <input type="text" placeholder="검색어를 입력하세요...">
                    <button>검색</button>
                </div>
           </div>

           <div>
                <div class="auth-links">
                    <!--로그인 링크 넣어주기-->
                    <a href="/login"><img src="/images/header/Log%20in.png" alt="로그인"></a>
                    <!--마이페이지 링크 넣어주기-->
                    <a href="/mypage"><img src="/images/header/User.png" alt="마이페이지"></a>
                </div>
            </div>
        </div>
		<!--  -->
    </header>
    
    <main>
    	<input type="hidden" id="memberNo" th:value="${memberNo}" /> <!-- memberNo가 넘어오면 연결 로그인된 상태 -->
        <div id="adFrame">
            <div id="adImg">
                <div id="arrowArea">
                    <div class="arrow_left" onclick="goPrev();"></div>
                    <div class="arrow_right" onclick="goNext()"></div>
                </div>
                <div id="dotArea">
                    <div class="btn_hover"></div>
                    <div class="btn_default"></div>
                    <div class="btn_default"></div>
                </div>
            </div>
            <div id="btnArea">
            <!-- member가 세션이면 안받고 아니면 member=num 으로 받기 -->
                <div class="cate_btn"><a th:href="@{/show/ticketMenu/뮤지컬}">뮤지컬</a></div>
                <div class="cate_btn"><a th:href="@{/show/ticketMenu/콘서트}">콘서트</a></div>
                <div class="cate_btn"><a th:href="@{/show/ticketMenu/스포츠}">스포츠</a></div>
                <div class="cate_btn"><a th:href="@{/show/ticketMenu/전시}">전시/행사</a></div>
                <div class="cate_btn"><a th:href="@{/show/ticketMenu/클래식}">클래식</a></div>
                <div class="cate_btn"><a th:href="@{/show/ticketMenu/아동}">아동/가족</a></div>
                <div class="cate_btn"><a th:href="@{/show/ticketMenu/연극}">연극</a></div>
            </div>
        </div>
        <hr>
        <div id="hot">
            <div class="cont_title">이번 주 인기작</div>
            <div class="cont">
                <div class="hot_area">
                    <ul class="hot_ul">
                    	<li th:each="dto, iterStat:${list}">
                    		<div class="big_cont" th:if="${iterStat.index == 0}">
                    			<a th:href="@{/show/ticketDetailPage/{showNo}/{memberNo}(showNo=${dto.showNo}, memberNo=${memberNo})}">
                                	<img th:src="${dto.filePath}" alt="Most Hot Show Img">
                                </a>
                    		</div>
                    		<div class="hot_list" th:if="${iterStat.index > 0}">
                    			<a th:href="@{/show/ticketDetailPage/{showNo}/{memberNo}(showNo=${dto.showNo}, memberNo=${memberNo})}">
                    				<img th:src="${dto.filePath}" alt="Hot Show Img">
                    			</a>
                    		</div>
                    	</li>            
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div id="open_app">
            <div class="cont_title">오픈 임박 티켓</div>
            <div class="cont">
                <div class="post_area">
                    <div class="poster" th:each="dto, iterStat:${upcoming}" th:class="${iterStat.index > 3 ? 'hidden' : 'poster'}">
                        <div class="img_frame">
                       		<a th:href="@{/show/ticketDetailPage/{showNo}/{memberNo}(showNo=${dto.showNo}, memberNo=${memberNo})}">
                            	<img th:src="${dto.filePath}" alt="Upcoming Show Img">
                            </a>
                            <div class="Ddays">D-<span th:text="${dto.dayDiff}"></span></div>
                            <div class="cont_info">
                            	<div class="data_time" th:text="${dto.openDateString}" ></div>
                            	<div class="show_title" th:text="${dto.showTitle}"></div>
                            </div>
                        </div> 
                    </div>
                </div>       
            </div>
            <div class="more_btnArea"  onclick="toggleMore()">
                <span class="more_btn">오픈 임박 티켓 더보기 +</span>
            </div>
        </div>
    </main>

	<footer th:fragment="footer" class="footer-container">
		<div class="footerhr"></div>
		<div class="footer-content">
			<p>&copy; 2025 Multi24 Website. All Rights Reserved.</p>
			<p>Contact: info@multi24.com</p>
			<p>
				<a href="https://github.com/docong1002/Team2_Project"
					class="GitLink"> <img
					src="/images/footer/github-mark-white.png" class="GitLogo"> <img
					src="/images/footer/GitHub_Logo_White.png" class="GitLogoLetter">
				</a>
			</p>
		</div>
		<!--  -->
	</footer>
</body>
</html>