<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showMain</title>
</head>
<link href="./css/showMain.css" rel="stylesheet" type="text/css">
<script src="./js/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
    let interval;

    // 이미지 배열
    const images = ['./img/ad1.png', './img/ad2.jpg', './img/ad3.jpg'];
    let currentIdx = 0;

    // 페이지 로드 후 실행될 함수
    window.onload = function () {
        // 해당 이미지가 들어간 div
        const imgArea = document.getElementById("adImg");

        function chImg() {
            // 다음 이미지로 순환
            currentIdx = (currentIdx + 1) % images.length;
            imgArea.style.backgroundImage = `url(${images[currentIdx]})`;

            //버튼도 변경 
            buttons.forEach(function(btn){
                btn.classList.remove('btn_hover');
                btn.classList.add('btn_default');
            });
            buttons[currentIdx].classList.remove('btn_default');
            buttons[currentIdx].classList.add('btn_hover');
        }

    // 1초마다 chImg 실행
    interval = setInterval(chImg, 7000);    

    //버튼 눌러서 변경
    const buttons = document.querySelectorAll("#dotArea > div");

        buttons.forEach(function(button, index){
            button.addEventListener('click', function(){
                //모든 버튼에서 hover 제거 및 default 추가
                buttons.forEach(function(btn){
                    btn.classList.remove('btn_hover');
                    btn.classList.add('btn_default');
                });

                //클릭한 버튼에만 hover 추가
                button.classList.remove('btn_default');
                button.classList.add('btn_hover');
                
                imgArea.style.backgroundImage = `url(${images[index]})`;

                currentIdx = index;
            });
        });
    };

    function goPrev(){
        const imgDiv = document.getElementById("adImg");
        const btns = document.querySelectorAll("#dotArea > div");

        if(currentIdx == 0){
            currentIdx = 2;
        }
        else{
            currentIdx -= 1;
        }
        //이미지바꾸기
        imgDiv.style.backgroundImage = `url(${images[currentIdx]})`;
        //버튼바꾸기
        btns.forEach(function(btn){
            btn.classList.remove('btn_hover');
            btn.classList.add('btn_default');
        });
        btns[currentIdx].classList.remove('btn_default');
        btns[currentIdx].classList.add('btn_hover');
    };

    function goNext(){
        const imgDiv = document.getElementById("adImg");
        const btns = document.querySelectorAll("#dotArea > div");

        currentIdx = (currentIdx + 1) % images.length;

        //이미지바꾸기
        imgDiv.style.backgroundImage = `url(${images[currentIdx]})`;
        //버튼바꾸기
        btns.forEach(function(btn){
            btn.classList.remove('btn_hover');
            btn.classList.add('btn_default');
        });
        btns[currentIdx].classList.remove('btn_default');
        btns[currentIdx].classList.add('btn_hover');
    };

    

</script>
<body>
    <main>
        <div id="adFrame">
            <div id="adImg">
                <div id="arrowArea">
                    <div class="arrow_left" onclick="goPrev();"></div>
                    <div class="arrow_right" onclick="goNext()"></div>
                </div>
                <div id="dotArea">
                    <div class="btn_hover"></div>
                    <div class="btn_default"></div>
                    <div class="btn_default"></div>
                </div>
            </div>
            <div id="btnArea">
                <div class="cate_btn">뮤지컬</div>
                <div class="cate_btn">콘서트</div>
                <div class="cate_btn">스포츠</div>
                <div class="cate_btn">전시/행사</div>
                <div class="cate_btn">클래식</div>
                <div class="cate_btn">아동/가족</div>
                <div class="cate_btn">연극</div>
            </div>
        </div>
        <hr>
        <div id="hot">
            <div class="cont_title">이번 주 인기작</div>
            <div class="cont">
                <div class="most"></div>
                <div class="hot2 others"></div>
                <div class="hot3 others"></div>
                <div class="hot4 others"></div>
                <div class="hot5 others"></div>
                <div class="hot6 others"></div>
                <div class="hot7 others"></div>
                <div class="most_info">
                    <p class="most_tit">호두까기인형</p>
                    <p class="most_detail">
                        <b>2024.12.19.~2024.12.30.</b><br>
                        세종문화회관 대극장
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div id="open_app">
            <div class="cont_title">오픈 임박 티켓</div>
            <div class="cont">
                <div class="post_area">
                    <div class="poster">
                        <div class="img_frame">
                            <img src="./img/open.jpg">
                        </div>
                    </div>
                    <div class="poster">
                        <div class="img_frame">
                            <img src="./img/open.jpg">
                        </div>
                    </div><div class="poster">
                        <div class="img_frame">
                            <img src="./img/open.jpg">
                        </div>
                    </div><div class="poster">
                        <div class="img_frame">
                            <img src="./img/open.jpg">
                        </div>
                    </div>
                </div>       
            </div>
            <div class="cont_detail">
                <div class="cont_info">
                    <p class="data_time">
                        2024.12.13(금) &Tab;20:00
                    </p>
                    <p class="show_name">
                        HI-KEY 1ST FAN CONCERT
                    </p>
                </div>
                <div class="cont_info">
                    <p class="data_time">
                        2024.12.13(금)
                        <br>
                        20:00
                    </p>
                    <p class="show_name">
                        HI-KEY 1ST FAN CONCERT
                    </p>
                </div>
                <div class="cont_info">
                    <p class="data_time">
                        2024.12.13(금)
                        <br>
                        20:00
                    </p>
                    <p class="show_name">
                        HI-KEY 1ST FAN CONCERT
                    </p>
                </div>
                <div class="cont_info">
                    <p class="data_time">
                        2024.12.13(금)<br>
                        20:00
                    </p>
                    <p class="show_name">
                        HI-KEY 1ST FAN CONCERT
                    </p>
                </div>
            </div>
            <div class="more_btnArea">
                <span class="more_btn">오픈 임박 티켓 더보기 +</span>
            </div>
        </div>
    </main>
</body>
</html>