<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="seatSelection.css" />
	<title>결제 페이지</title>
</head>
<body>

	<nav class="seatSelectNav">좌석선택</nav>
	
	<body class="seatSelectBody">
		<div class="playName">공연이름</div>
		<div><span>공연 일자</span><span> / </span><span>공연 시간</span></div>
		<div class="stageImg">STAGE</div>
		
		<div class="seatContainer">
				<!--9x5 좌석-->
			<div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <div class="row">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>             
		</div>
		
		<script>
		let seats = document.querySelectorAll('.seat');
			
		let selectedSeats = []; // 선택된 좌석 배열. 배열에 넣어준다.

		seats.forEach(function(seat) {
			seat.addEventListener('click', function() {
				if (this.classList.contains('selected')) {
					// 이미 선택된 좌석인 경우, 선택 취소
					this.classList.remove('selected');
					//선택한 좌석의 인덱스에서 요소 1개만 삭제 = 본인만 삭제
					selectedSeats.splice(selectedSeats.indexOf(this), 1);
				} else if (selectedSeats.length < 2) {
					// 선택되지 않은 좌석이고 최대 선택 가능한 개수보다 작을 경우, 선택
					this.classList.add('selected');
					selectedSeats.push(this);
				} else{
					// 좌석 2개 초과 선택 시, 초과 선택불가 알럿
					alert('좌석은 최대 2개 선택 가능합니다.')
				}

			});
		});
		</script>
		
		<div>선택한 좌석 수: <span>0</span></div>
		<div>총 금액: <span>0</span></div>
		
		<div><button class="nextButton">다음단계</button></div>
	</body>
	
	
</body>
</html>