<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제페이지</title>

</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/showCss/seatSelection.css}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/showJs/seatSelection.js}"></script>

<body class="seatSelectBody">
	<header th:fragment="header" class="header-container">
		<!-- 첫 번째 줄: 로고, 검색바, 로그인/회원가입 -->
		<div class="header-top">
			<div class="logo">
				<img src="/images/header/logo_only.png" alt="로고">
				<!-- 로고 이미지 -->
			</div>

			<div>
				<div class="search-bar">
					<input type="text" placeholder="검색어를 입력하세요...">
					<button>검색</button>
				</div>
			</div>

			<div>
				<div class="auth-links">
					<!--로그인 링크 넣어주기-->
					<a href="/login"><img src="/images/header/Log%20in.png"
						alt="로그인"></a>
					<!--마이페이지 링크 넣어주기-->
					<a href="/mypage"><img src="/images/header/User.png"
						alt="마이페이지"></a>
				</div>
			</div>
		</div>
		<!--  -->
	</header>
	<!-- js사용할 데이터 -->
	<form id="paymentForm" action="/payment/checkout" method="POST">
		<input type="hidden" name="memberNo" id="memberNo" th:value="${memberNo}" /> 
		<input type="hidden" name="showNo" id="showNo" th:value="${show.showNo}" /> 
		<input type="hidden" name="showDate" id="showDate" th:value="${showDate}" />
		<!-- 선택된 좌석 정보를 담을 hidden input -->
    	<input type="hidden" id="selectedSeats" name="selectedSeats" />
    	
		<nav class="seatSelectNav">좌석선택</nav>

		<div class="playName" th:text=${show.showTitle}></div>
		<div>
			<span>공연 일자&nbsp;<b th:text=${showDate}></b></span><span> / </span><span>공연 시간&nbsp;<b th:text=${show.showStartTime}></b></span>
		</div> 
		<div class="stageImg">STAGE</div>

		<div class="seatContainer">
			<!--9x5 좌석-->
			<div class="seating-container">
				<div class="row">
					<div th:each="col : ${#numbers.sequence(1, 9)}" th:class="${'seat ' + 'A' + col}" th:text="${'A' + col}"></div>
				</div>
				<div class="row">
					<div th:each="col : ${#numbers.sequence(1, 9)}" th:class="${'seat ' + 'B' + col}" th:text="${'B' + col}"></div>
				</div>
				<div class="row">
					<div th:each="col : ${#numbers.sequence(1, 9)}" th:class="${'seat ' + 'C' + col}" th:text="${'C' + col}"></div>
				</div>
				<div class="row">
					<div th:each="col : ${#numbers.sequence(1, 9)}" th:class="${'seat ' + 'D' + col}" th:text="${'D' + col}"></div>
				</div>
				<div class="row">
					<div th:each="col : ${#numbers.sequence(1, 9)}" th:class="${'seat ' + 'E' + col}" th:text="${'E' + col}"></div>
				</div>
			</div>
		</div>


		<div>
			선택한 좌석 수: <span id="selectedCount">0</span>
		</div>
		<div>
			총 금액: <span id="totalAmount" th:attr="data-price=${show.showPrice}">0</span>
		</div>

		<div>
			<button type="button" class="nextButton" onclick="goPay();">다음단계</button>
		</div>
	</form>
	
	<footer th:fragment="footer" class="footer-container">
		<div class="footerhr"></div>
		<div class="footer-content">
			<p>&copy; 2025 Multi24 Website. All Rights Reserved.</p>
			<p>Contact: info@multi24.com</p>
			<p>
				<a href="https://github.com/docong1002/Team2_Project"
					class="GitLink"> <img
					src="/images/footer/github-mark-white.png" class="GitLogo"> <img
					src="/images/footer/GitHub_Logo_White.png" class="GitLogoLetter">
				</a>
			</p>
		</div>
	</footer>
</body>
</html>