
.paymentNav {
	width:auto;
	height:50px;
	background-color: #ff9400;
	border-radius: 10px;
	text-align: center;
	align-content: center;
	color: white;
	font-weight: 700;
	font-size: 30px;
}

.paymentBody {
	text-align: center;
}

div {
	margin: 20px;
}

.playName {
	font-size: 25px;
	font-weight: 700
}

.payWayChoice {
	font-size: 25px;
	font-weight: 700
}

.paymentButton {
	border: none;
	font-size: 17px;
	font-weight: 700;
	padding: 20px;
	border-radius: 10px;
	background-color: #ff9400;
	color: white;
	cursor: pointer;
	
}
