<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="payment.css" />
	<title>결제 페이지</title>
</head>
<body>

	<nav class="paymentNav">결제하기</nav>
	
	<body class="paymentBody">
		<div class="playName">공연이름</div>
		<div><span>공연 일자</span><span> / </span><span>공연 시간</span></div>
		<div>선택한 좌석 : <span>좌석번호</span></div>
		<div>선택한 좌석 수 : <span>좌석 수</span></div>
		<div>총 금액 : <span>금액</span></div>
		
		<div class="payWayChoice">결제방식 선택</div>
			<input type='radio' name='paymentMethod' checked='checked'/>신용카드
			<input type='radio' name='paymentMethod'/>카카오 페이
		<div><button class="paymentButton">결제하기</button></div>
	</body>
	
	
</body>
</html>