@charset "EUC-KR";
body{
    width: 100%; max-width: 1200px; margin: 0 auto;
    text-align: center;
}

#main,
#main * {
    box-sizing: border-box;
}

#main {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}

#actor_info {
    position: relative;
    width: 1200px;
    height: 393px;
    margin: 0 0 0 0;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 12;
}

.actor_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1020px;
    height: 309px;
    margin: 40px 0 0 71px;
    z-index: 14;
}

.actor_img {
    flex-shrink: 0;
    position: relative;
    width: 264px;
    height: 309px;
    background: url(../img/jearim.png)
      no-repeat center;
    background-size: cover;
    z-index: 13;
}

.actor_cont {
    flex-shrink: 0;
    position: relative;
    width: 671px;
    height: 309px;
    background: #ffffff;
    border: 4px solid #ececec;
    z-index: 14;
    box-sizing: content-box;
}

.name{
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 32px !important;
    text-align: left;
    margin-left: 22px;
    margin-top: 25px;
}

.text * {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 70px;
    width: 373px;
    height: 30px;
    margin-bottom: 10px;
}

.debut b{
    font-weight: 700 !important;
}

.actor_like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 204px;
    height: 53px;
    margin: 71px 0 0 887px;
    z-index: 23;
}

#heart {
    flex-shrink: 0;
    position: relative;
    width: 45px;
    height:45px;
    z-index: 24;
    background: url(../img/heart.png)
    no-repeat center;
    background-size: 100% 100%;
}

.heart:active{
    background-color: red;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 142px;
    height: 53px;
    padding: 14px 41px 14px 41px;
    background: #ff9500;
    border: 3px solid #ececec;
    z-index: 21;
    border-radius: 50px;
    cursor: pointer;
}

.like {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    z-index: 22;
}

#actor_career {
    position: relative;
    width: 1200px;
    height: 330px;
    margin: 37px 0 0 0;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 9;
    overflow-y: auto;
}

.award-list {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 594px;
    height: 193px;
    top: 72px;
    left: 25px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    z-index: 11;
}

#actor_others {
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 58px 0 0 0;
    font-size: 0px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cont_title {
    display: block;
    position: relative;
    height: 43px;
    margin: 33px 0 0 28px;
    color: #000000;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}

.others_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1200px;
    margin: 11px 0 0 0;
    padding: 0 30px 0 30px;
    z-index: 1;
}

.others_container div{
    cursor: pointer;
}

.others_container img{
    position: relative;
    width: 260px;
    height: 400px;
    background-size: cover;
    z-index: 2;
    box-sizing: content-box !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.other_name{
    font-size: 17px;
    font-weight: 800;
    line-height: 16px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.other_role{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 7px;
}

.auto-resize {
    width: 900px;  /* 원하는 너비 */
    min-height: 30px;  /* 최소 높이 */
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.editable {
    cursor: pointer;
    min-width: 50px;
    display: inline-block;
    padding: 4px;
}

.editable:hover {
    background-color: #f0f0f0;
}
    