<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="reviewpage.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
  <div>
	<div class="header"></div>
	
	<div>
		<div class="formFrame">
			<form>
				<div>
					<div class="w-100">
						<h1>공연관람후기</h1>
						<p>공연명</p>
						<input class="formInput">
					</div>
					
					<div class="w-100">
						<p>관람일시</p>
						<input class="formInput">
					</div>
					<div class="w-100">
						<p>제목</p>
						<input class="formInput">
					</div>
					<div class="w-100">
						<p>별점</p>
						<span><input type="radio" checked="checked" name="star"  >★★★★★</span>
						<span><input type="radio" name="star">★★★★</span>
						<span><input type="radio" name="star">★★★</span>
						<span><input type="radio" name="star">★★</span>
						<span><input type="radio" name="star">★</span>
					</div>
					<div class="w-100">
						<p>내용</p>
						<textarea class="formInput text"></textarea>
					</div>
				</div>
				<div>
					<button class="submit">등록</button>
					<button class="cancel">취소</button>
				</div>
			</form>	
		</div>
	</div>
		
	
	<div class="footer"></div>
 </div>
</body>
</html>