@charset "EUC-KR";
/* styles.css */

/* �뿤�뜑 �쟾泥� �뒪���씪 */
.header-container {
	margin: 0 auto;
    width: 1200px;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    font-family: Arial, sans-serif;
}

/* 泥� 踰덉㎏ 以� (濡쒓퀬, 寃��깋諛�, 濡쒓렇�씤/�쉶�썝媛��엯) */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
	margin-bottom: 20px;
	margin-top: 15px;
	border-bottom: 1px solid #ddd; /* 硫붾돱 �븯�떒 寃쎄퀎�꽑 */
}


/* 寃��깋諛� �뒪���씪 */
.search-bar {
	width: 700px;
	height: 100px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 50px
}

.search-bar input {
    width: 60%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    background-color: #FF9400;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    
}

.search-bar button:hover {
    background-color: red;
}

/* 濡쒓렇�씤/�쉶�썝媛��엯 留곹겕 �뒪���씪 */
.auth-links{
	display:flex;
	text-align: center;
	margin-right: 20px;
	
}
.auth-links a {
    margin-left: 20px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.auth-links a:hover {
    color: #007bff;
}

/*怨듭뿰�럹�씠吏� �씠�룞 留곹겕 �뒪���씪*/

.playpage-links{
	text-align: center;
	margin-top: 20px;
}
.playpage-links a {
    
    font-size: 16px;
    color: black;
    text-decoration: none;

}

.playpage-links a:hover {
    color: #007bff;
}


/*�뿤�뜑 �꺆*/
.main-menu {
    display: flex;
    justify-content: space-between; /* 醫�, �슦濡� �슂�냼 諛곗튂 */
    align-items: center; /* �꽭濡� �젙�젹 */
    padding: 10px 20px;
    background-color: white;
	margin-top: 15px;

    
}

/* 硫붾돱 由ъ뒪�듃 �뒪���씪 */
.menu-list {
    display: flex;
    justify-content: center; /* 以묒븰 �젙�젹 */
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu-list li {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #ddd;
	padding: 10px;

}

.menu-list li:last-child {
    border-right: none; /* 留덉�留� �빆紐⑹쓽 �삤瑜몄そ 寃쎄퀎�꽑 �젣嫄� */
}

.menu-list li a {
    text-decoration: none;
    font-size: 16px;
    color: black;

	

}

.menu-list li a:hover {
    color: #FF9400; /* hover �떆 媛뺤“ �깋�긽 */
}


