<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 찜한 배우</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
    <link rel="stylesheet" href="mypageLikeActor.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="favorite-performance">
        <div class="login-header">
          <div class="flex-row-da">
            <div class="performance-logo">
              <div class="frame"><div class="image"></div></div>
            </div>
            <div class="search-bar">
              <div class="search"></div>
              <input class="search-bar-input" />
            </div>
            <div class="right-menu">
              <div class="shopping-cart"><div class="icon-cart"></div></div>
              <div class="user"></div>
              <div class="log-in"></div>
            </div>
          </div>
          <div class="flex-row-d">
            <div class="categories">
              <div class="frame-1">
                <div class="button">
                  <div class="button-title">
                    <span class="button-title-member-search">회원 조회</span>
                  </div>
                </div>
                <div class="line"></div>
                <div class="button-2">
                  <div class="button-title-3">
                    <span class="button-title-location-management"
                      >장소 관리</span
                    >
                  </div>
                </div>
                <div class="line-4"></div>
                <div class="button-5">
                  <div class="button-title-6">
                    <span class="button-title-book-registration"
                      >도서 등록</span
                    >
                  </div>
                </div>
                <div class="line-7"></div>
                <div class="button-8">
                  <div class="button-title-9">
                    <span class="button-title-book-search">도서 조회</span>
                  </div>
                </div>
                <div class="line-a"></div>
                <div class="button-b">
                  <div class="button-title-c">
                    <span class="button-title-performance-registration"
                      >공연 등록</span
                    >
                  </div>
                </div>
                <div class="line-d"></div>
                <div class="button-e">
                  <div class="button-title-f">
                    <span class="button-title-performance-search"
                      >공연 조회</span
                    >
                  </div>
                </div>
                <div class="line-10"></div>
                <div class="button-11">
                  <div class="button-title-12">
                    <span class="button-title-inquiry-management"
                      >문의 관리</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="mileage-description">
              <div class="mileage-description-button">
                <div class="button-title-13">
                  <span class="button-title-mileage">마일리지</span>
                </div>
              </div>
              <div class="inquiry-button">
                <div class="button-title-14">
                  <span class="button-title-one-to-one-inquiry">1:1문의</span>
                </div>
              </div>
              <div class="line-15"></div>
            </div>
          </div>
        </div>
        <div class="flex-row-bb">
          <div class="side-bar">
            <div class="my-page-top">
              <div class="favorite-count">
                <div class="favorite-show">
                  <span class="favorite-show-16">찜한 공연</span>
                  <div class="favorite-count-17">
                    <span class="favorite-count-18">10</span>
                  </div>
                </div>
                <div class="favorite-show-19">
                  <span class="favorite-actor-1a">찜한 배우</span>
                  <div class="favorite-count-1b">
                    <span class="favorite-count-1c">10</span>
                  </div>
                </div>
                <div class="line-1d"></div>
              </div>
              <span class="user-name">ㅇㅇㅇ님</span
              ><span class="my-page">의 마이페이지</span>
            </div>
            <div class="frame-1e">
              <div class="shopping-history">
                <span class="shopping-history-1f">쇼핑 내역</span
                ><span class="booking-history">예매 내역</span>
              </div>
              <div class="library">
                <span class="library-20">라이브러리</span
                ><span class="favorite-list">찜 목록</span
                ><span class="review-management">리뷰 관리</span
                ><span class="inquiry-history">문의 내역</span>
              </div>
              <div class="member-info">
                <span class="member-info-21">회원 정보</span
                ><span class="member-info-management">회원 정보 관리</span
                ><span class="mileage">마일리지</span>
              </div>
            </div>
          </div>
          <div class="main-content">
            <div class="frame-22">
              <div class="favorite-show-23">
                <span class="favorite-actor-24">찜한 배우</span>
              </div>
              <div class="poster-layout">
                <div class="poster">
                  <div class="container">
                    <span class="park-cheol-min">박철민</span>
                  </div>
                  <div class="container-25">
                    <div class="container-26">
                      <div class="link"><div class="gif"></div></div>
                      <div class="checkbox-ticket-cast">
                        <div class="image-27"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-28">
                  <div class="container-29">
                    <span class="park-cheol-min-2a">박철민</span>
                  </div>
                  <div class="container-2b">
                    <div class="container-2c">
                      <div class="link-2d"><div class="gif-2e"></div></div>
                      <div class="checkbox-ticket-cast-2f">
                        <div class="image-30"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-31">
                  <div class="container-32">
                    <span class="park-cheol-min-33">박철민</span>
                  </div>
                  <div class="container-34">
                    <div class="container-35">
                      <div class="link-36"><div class="gif-37"></div></div>
                      <div class="checkbox-ticket-cast-38">
                        <div class="image-39"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-3a">
                  <div class="container-3b">
                    <span class="name-park-cheol-min">박철민</span>
                  </div>
                  <div class="container-3c">
                    <div class="container-3d">
                      <div class="link-3e"><div class="gif-3f"></div></div>
                      <div class="checkbox-ticket-cast-40">
                        <div class="image-41"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-42">
                  <div class="container-43">
                    <span class="name-park-cheol-min-44">박철민</span>
                  </div>
                  <div class="container-45">
                    <div class="container-46">
                      <div class="link-47"><div class="gif-48"></div></div>
                      <div class="checkbox-ticket-cast-49">
                        <div class="image-4a"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="poster-layout-4b">
                <div class="poster-4c">
                  <div class="container-4d">
                    <span class="name-park-cheol-min-4e">박철민</span>
                  </div>
                  <div class="container-4f">
                    <div class="container-50">
                      <div class="link-51"><div class="gif-52"></div></div>
                      <div class="checkbox-ticket-cast-53">
                        <div class="image-54"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-55">
                  <div class="container-56">
                    <span class="name-park-cheol-min-57">박철민</span>
                  </div>
                  <div class="container-58">
                    <div class="container-59">
                      <div class="link-5a"><div class="gif-5b"></div></div>
                      <div class="checkbox-ticket-cast-5c">
                        <div class="image-5d"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-5e">
                  <div class="container-5f">
                    <span class="name-park-cheol-min-60">박철민</span>
                  </div>
                  <div class="container-61">
                    <div class="container-62">
                      <div class="link-63"><div class="gif-64"></div></div>
                      <div class="checkbox-ticket-cast-65">
                        <div class="image-66"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-67">
                  <div class="container-68">
                    <span class="name-park-cheol-min-69">박철민</span>
                  </div>
                  <div class="container-6a">
                    <div class="container-6b">
                      <div class="link-6c"><div class="gif-6d"></div></div>
                      <div class="checkbox-ticket-cast-6e">
                        <div class="image-6f"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-70">
                  <div class="container-71">
                    <span class="name-park-chul-min">박철민</span>
                  </div>
                  <div class="container-72">
                    <div class="container-73">
                      <div class="link-74"><div class="gif-75"></div></div>
                      <div class="checkbox-ticket-cast-76">
                        <div class="image-77"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="poster-layout-78">
                <div class="poster-79">
                  <div class="container-7a">
                    <span class="name-park-chul-min-7b">박철민</span>
                  </div>
                  <div class="container-7c">
                    <div class="container-7d">
                      <div class="link-7e"><div class="gif-7f"></div></div>
                      <div class="checkbox-ticket-cast-80">
                        <div class="image-81"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-82">
                  <div class="container-83">
                    <span class="name-park-chul-min-84">박철민</span>
                  </div>
                  <div class="container-85">
                    <div class="container-86">
                      <div class="link-87"><div class="gif-88"></div></div>
                      <div class="checkbox-ticket-cast-89">
                        <div class="image-8a"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-8b">
                  <div class="container-8c">
                    <span class="name-park-chul-min-8d">박철민</span>
                  </div>
                  <div class="container-8e">
                    <div class="container-8f">
                      <div class="link-90"><div class="gif-91"></div></div>
                      <div class="checkbox-ticket-cast-92">
                        <div class="image-93"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-94">
                  <div class="container-95">
                    <span class="name-park-chul-min-96">박철민</span>
                  </div>
                  <div class="container-97">
                    <div class="container-98">
                      <div class="link-99"><div class="gif-9a"></div></div>
                      <div class="checkbox-ticket-cast-9b">
                        <div class="image-9c"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-9d">
                  <div class="container-9e">
                    <span class="park-chul-min">박철민</span>
                  </div>
                  <div class="container-9f">
                    <div class="container-a0">
                      <div class="link-a1"><div class="__-gif"></div></div>
                      <div class="checkbox-ticket-cast-a2">
                        <div class="image-a3"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="poster-layout-a4">
                <div class="poster-a5">
                  <div class="container-a6">
                    <span class="park-chul-min-a7">박철민</span>
                  </div>
                  <div class="container-a8">
                    <div class="container-a9">
                      <div class="link-aa"><div class="__-gif-ab"></div></div>
                      <div class="checkbox-ticket-cast-ac">
                        <div class="image-ad"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-ae">
                  <div class="container-af">
                    <span class="park-chul-min-b0">박철민</span>
                  </div>
                  <div class="container-b1">
                    <div class="container-b2">
                      <div class="link-b3"><div class="__-gif-b4"></div></div>
                      <div class="checkbox-ticket-cast-b5">
                        <div class="image-b6"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-b7">
                  <div class="container-b8">
                    <span class="park-chul-min-b9">박철민</span>
                  </div>
                  <div class="container-ba">
                    <div class="container-bb">
                      <div class="link-bc"><div class="__-gif-bd"></div></div>
                      <div class="checkbox-ticket-cast-be">
                        <div class="image-bf"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-c0">
                  <div class="container-c1">
                    <span class="park-chul-min-c2">박철민</span>
                  </div>
                  <div class="container-c3">
                    <div class="container-c4">
                      <div class="link-c5"><div class="__-gif-c6"></div></div>
                      <div class="checkbox-ticket-cast-c7">
                        <div class="image-c8"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="poster-c9">
                  <div class="container-ca">
                    <span class="park-chul-min-cb">박철민</span>
                  </div>
                  <div class="container-cc">
                    <div class="container-cd">
                      <div class="link-ce"><div class="__-gif-cf"></div></div>
                      <div class="checkbox-ticket-cast-d0">
                        <div class="image-d1"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
