<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 리뷰 수정</title>
    <link rel="stylesheet" th:href="@{/css/headerCss/headerMypage.css}"> 
    <link rel="stylesheet" th:href="@{/css/footerCss/footerAdmin.css}"> 
    <link rel="stylesheet" th:href="@{/css/mypage/mypageReviewUpdate.css}"> 
</head>
<body>
<div th:replace="~{header/header :: header}"></div>
    <section>
        <div class="sideBar" style="width: 1014px;">
            <div class="userContainer">
                <div class="userBox">
                    <a th:href="@{/mypage/main}">
	                    <span class="userName" style="font-size: 24px; font-weight: 700;" th:text="${member.memberName}">ㅇㅇㅇ</span>
	                    <span class="myPage" style="font-size: 16px;font-weight: 700;">님의 마이페이지</span>
                    </a>
                </div>
                <div class="container">
                    <div class="likeShowBox">
                        <div class="likeShowCount">
                            <span class="likeShow" style="font-size: 18px; font-weight: bold;">찜한 공연</span>
                            <span class="likeShowCount" style="font-size: 20px; font-weight: bold;">10</span>
                        </div>
                    </div>               
                    <div class="divider"></div>
                    <div class="likeActorBox">
                        <div class="likeActorCount">
                            <a th:href="@{/mypage/likeActor}">
                            	<span class="likeActor" style="font-size: 18px; font-weight: bold;">찜한 배우</span>
                            	<span class="likeActorCount" style="font-size: 20px; font-weight: bold;" th:text="${likedActorCount}">10</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="naviContainer">
                <ul class="naviList">
                    <li class="naviList1">쇼핑 내역
                        <ul class="subList">예매 내역</ul>
                    </li>
                    <li class="naviList1"><a th:href="@{/mypage/main}">라이브러리</a>
                        <ul class="subList"><a>찜한 공연</a></ul>
                        <ul class="subList"><a th:href="@{/mypage/likeActor}">찜한 배우</a></ul>
                        <ul class="subList"><a th:href="@{/mypage/reviewList}">리뷰 관리</a></ul>
                        <ul class="subList"><a th:href="@{/inquiry/list}">문의 내역</a></ul>
                    </li>
                    <li class="naviList1"><a th:href="@{/mypage/memberInfo}">회원 정보</a>
                        <ul class="subList"><a th:href="@{/mypage/memberInfo}">회원 정보 관리</a></ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contentBox" style="margin-right: 25px;">
            <div class="NameBox">
                <span class="detailName">리뷰 관리</span>
            </div>
            <div class="content">
                <div class="recommendContainer" style="width: 936px;">
                    <div>
		<div class="formFrame" th:object="${review}">
			<form th:action="@{/mypage/reviewUpdate}" method="post">
			<input type="hidden" name="reviewNo" th:value="${review.reviewNo}"/>
				<div>
					<div class="w-100">
						<h1>공연관람후기</h1>
						<p>공연명</p>
						<input class="formInput" readonly="readonly" th:value="${review.show.showTitle}" style="background-color: #FDF0E1; ">
					</div>
					<div class="w-100">
						<p>제목</p>
						<input class="formInput" name="reviewTitle" th:value="${review.reviewTitle}">
					</div>
					<div class="w-100">
						<p>별점</p>
						<span><input type="radio" name="reviewScore" value="5" th:checked="${review.reviewScore == 5}">★★★★★</span>
						<span><input type="radio" name="reviewScore" value="4" th:checked="${review.reviewScore == 4}">★★★★</span>
						<span><input type="radio" name="reviewScore" value="3" th:checked="${review.reviewScore == 3}">★★★</span>
						<span><input type="radio" name="reviewScore" value="2" th:checked="${review.reviewScore == 2}">★★</span>
						<span><input type="radio" name="reviewScore" value="1" th:checked="${review.reviewScore == 1}">★</span>
					</div>
					<div class="w-100">
						<p>내용</p>
						<textarea class="formInput text" name="reviewContent" th:field="${review.reviewContent}" style="resize: none;"></textarea>
					</div>
				</div>
				<div>
					<button class="register-button update">수정</button>
					<a class="cancel" th:href="@{/mypage/reviewDetail(reviewNo=${review.reviewNo})}" style="text-decoration: none;">
    					<button type="button" class="register-button update">취소</button>
					</a>
				</div>
			</form>	
		</div>
	</div>    
                </div>
            </div>
        </div>
    </section>
    <div th:replace="~{footer/footer :: footer}"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>
