<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 메인</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypageMain.css}">
</head>
<body>
    <section>
        <div class="sideBar" style="width: 1014px;">
            <div class="userContainer">
                <div class="userBox">
                    <span class="userName" style="font-size: 24px; font-weight: 700;" th:text="${member.memberName}"></span>
                    <span class="myPage" style="font-size: 16px;font-weight: 700;">님의 마이페이지</span>
                </div>
                <div class="container">
                    <div class="likeShowBox">
                        <div class="likeShowCount">
                            <span class="likeShow" style="font-size: 18px; font-weight: bold;">찜한 공연</span>
                            <span class="likeShowCount" style="font-size: 20px; font-weight: bold;">10</span>
                        </div>
                    </div>               
                    <div class="divider"></div>
                    <div class="likeActorBox">
                        <div class="likeActorCount">
                            <a th:href="@{/mypage/likeActor}">
                            	<span class="likeActor" style="font-size: 18px; font-weight: bold;">찜한 배우</span>
                            	<span class="likeActorCount" style="font-size: 20px; font-weight: bold;" th:text="${likedActorCount}">10</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="naviContainer">
                <ul class="naviList">
                    <li class="naviList1">쇼핑 내역
                        <ul class="subList">예매 내역</ul>
                    </li>
                    <li class="naviList1"><a th:href="@{/mypage/main}">라이브러리</a>
                        <ul class="subList"><a>찜한 공연</a></ul>
                        <ul class="subList"><a th:href="@{/mypage/likeActor}">찜한 배우</a></ul>
                        <ul class="subList"><a th:href="@{/mypage/reviewList}">리뷰 관리</a></ul>
                        <ul class="subList"><a>문의 내역</a></ul>
                    </li>
                    <li class="naviList1"><a th:href="@{/mypage/memberInfo}">회원 정보</a>
                        <ul class="subList"><a th:href="@{/mypage/memberInfo}">회원 정보 관리</a></ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contentBox">
            <div class="NameBox">
                <span class="detailName">오늘의 추천</span>
            </div>
            <div class="content">
                <div class="recommendContainer" style="width: 936px;">
                    <div class="recommend-30">
                        <div class="background-31">
                          <div class="poster-32"></div>
                          <div class="_p-33"></div>
                        </div>
                        <div class="title-value-34">
                          <div class="frame-35">
                            <span class="fluttering-flowers-36">흩날리는 꽃들 속에서 니 ...</span>
                            <span class="price-37">20,000원</span>
                          </div>
                        </div>
                        <div class="_p-38"></div>
                    </div>
                    <div class="recommend-30">
                        <div class="background-31">
                          <div class="poster-32"></div>
                          <div class="_p-33"></div>
                        </div>
                        <div class="title-value-34">
                          <div class="frame-35">
                            <span class="fluttering-flowers-36">흩날리는 꽃들 속에서 니 ...</span>
                            <span class="price-37">20,000원</span>
                          </div>
                        </div>
                        <div class="_p-38"></div>
                    </div>
                    <div class="recommend-30">
                        <div class="background-31">
                          <div class="poster-32"></div>
                          <div class="_p-33"></div>
                        </div>
                        <div class="title-value-34">
                          <div class="frame-35">
                            <span class="fluttering-flowers-36">흩날리는 꽃들 속에서 니 ...</span>
                            <span class="price-37">20,000원</span>
                          </div>
                        </div>
                        <div class="_p-38"></div>
                    </div>
                </div>
                
                <div class="NameBox">
                    <span class="detailName">찜한 공연(더미)</span>
                </div>
                <div class="showContainer">
                    <div class="showBox">
                        <div class="showImg">
                            <img alt="" src="68227042_20071227.jpg" class="show"> <!-- 여기에 배우 이미지 URL 추가 -->
                        </div>
                        <div class="heart">
                            <img alt="redHeart" src="/images/mypage/redHeart.png" style="width: 40px; height: 40px;"> <!-- 하트 이미지 URL 확인 -->
                        </div>
                        <div class="showName">더미1</div>
                    </div>
                    <div class="showBox">
                        <div class="showImg">
                            <img alt="" src="actor_image_url.jpg" class="show"> <!-- 여기에 배우 이미지 URL 추가 -->
                        </div>
                        <div class="heart">
                            <img alt="redHeart" src="/images/mypage/redHeart.png" style="width: 40px; height: 40px;"> <!-- 하트 이미지 URL 확인 -->
                        </div>
                        <div class="showName">더미2</div>
                    </div>
                    <div class="showBox">
                        <div class="showImg">
                            <img alt="" src="actor_image_url.jpg" class="show"> <!-- 여기에 배우 이미지 URL 추가 -->
                        </div>
                        <div class="heart">
                            <img alt="redHeart" src="/images/mypage/redHeart.png" style="width: 40px; height: 40px;"> <!-- 하트 이미지 URL 확인 -->
                        </div>
                        <div class="showName">더미3</div>
                    </div>
                    <div class="showBox">
                        <div class="showImg">
                            <img alt="" src="actor_image_url.jpg" class="show"> <!-- 여기에 배우 이미지 URL 추가 -->
                        </div>
                        <div class="heart">
                            <img alt="redHeart" src="/images/mypage/redHeart.png" style="width: 40px; height: 40px;"> <!-- 하트 이미지 URL 확인 -->
                        </div>
                        <div class="showName">더미4</div>
                    </div>
                </div>
                <div class="NameBox">
                    <span class="detailName">찜한 배우</span>
                </div>
                <div class="content">
                    <div class="actBox" th:each="item : ${likedItems}">
                        <div class="actImg">
                            <img alt="" th:src="@{/uploads/{fileNo}(fileNo=${item.actor.showActorFile.fileNo})}" class="actor"> <!-- 여기에 배우 이미지 URL 추가 -->
                        </div>
                        <div class="actHeart">
                            <img alt="redHeart" src="/images/mypage/redHeart.png" style="width: 40px; height: 40px;"> <!-- 하트 이미지 URL 확인 -->
                        </div>
                        <div class="actName" th:text="${item.actor.actorName}">박상철</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>
