<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 회원 정보</title>
    <link rel="stylesheet" th:href="@{/css/headerCss/headerMypage.css}"> 
    <link rel="stylesheet" th:href="@{/css/footerCss/footerAdmin.css}"> 
    <link rel="stylesheet" th:href="@{/css/mypage/mypageUserInfoDetail.css}">
</head>
<body>
<div th:replace="~{header/header :: header}"></div>
    <section>
        <div class="sideBar" style="width: 1014px;margin-right: 33px;margin-bottom: 385px;margin-left: -0.3px;">
            <div class="userContainer">
                <div class="userBox">
                    <a th:href="@{/mypage/main}">
	                    <span class="userName" style="font-size: 24px; font-weight: 700;" th:text="${member.memberName}">ㅇㅇㅇ</span>
	                    <span class="myPage" style="font-size: 16px;font-weight: 700;">님의 마이페이지</span>
                    </a>
                </div> 
                <div class="container">
                    <div class="likeShowBox">
                        <div class="likeShowCount">
                            <span class="likeShow" style="font-size: 18px; font-weight: bold;">찜한 공연</span>
                            <span class="likeShowCount" style="font-size: 20px; font-weight: bold;">10</span>
                        </div>
                    </div>               
                    <div class="divider"></div>
                    <div class="likeActorBox">
                        <div class="likeActorCount" >
                        	<a th:href="@{/mypage/likeActor}">
                            	<span class="likeActor" style="font-size: 18px; font-weight: bold;">찜한 배우</span>
                            	<span class="likeActorCount" style="font-size: 20px; font-weight: bold;" th:text="${likedActorCount}">10</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="naviContainer">
                <ul class="naviList">
                    <li class="naviList1"><a th:href="@{/mypage/order}">쇼핑 내역
                    <a th:href="@{/mypage/order}"><ul class="subList">예매 내역</ul></a>
                </a></li>
                    <li class="naviList1"><a th:href="@{/mypage/main}">라이브러리</a>
                        <ul class="subList"><a>찜한 공연</a></ul>
                        <ul class="subList"><a th:href="@{/mypage/likeActor}">찜한 배우</a></ul>
                        <ul class="subList"><a th:href="@{/mypage/reviewList}">리뷰 관리</a></ul>
                        <ul class="subList"><a th:href="@{/inquiry/list}">문의 내역</a></ul>
                    </li>
                    <li class="naviList1"><a th:href="@{/mypage/memberInfo}">회원 정보</a>
                        <ul class="subList"><a th:href="@{/mypage/memberInfo}">회원 정보 관리</a></ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contentBox" style="margin-right: 25px;">
            <div class="NameBox">
                <span class="detailName">회원 정보</span>
            </div>
            <div class="content">
                <div class="recommendContainer" style="width: 936px;">
                    <div>
			<div class="formFrame" th:object="${member}">
				<form>
					<div>
						<div class="w-100">
							<h1>회원 정보</h1>
							<p>이름</p>
							<input class="formInput" th:value="${member.memberName}" readonly="readonly">
						</div>
						<div class="w-100">
							<p >가입일</p>
							<input class="formInput" th:value="${member.memberDate}" readonly="readonly">
						</div>
						<div class="w-100">
							<p >아이디</p>
							<input class="formInput" th:value="${member.memberId}"  readonly="readonly">
						</div>
						<div class="w-100">
							<p>전화번호</p>
							<input class="formInput" th:value="${member.memberPhone}" readonly="readonly">
						</div>
						<div class="w-100">
							<p>주소</p>
							<input class="formInput" th:value="${member.memberAddr}" readonly="readonly" style="margin-bottom: 20px;">
							<input class="formInput" th:value="${member.memberAddrde}" readonly="readonly">
						</div>
					</div>
					<div style="display: flex;justify-content: flex-end;margin-top: -1.5%;">
					</div>
				</form>
			</div>
		</div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="~{footer/footer :: footer}"></div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>
