<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 찜한 공연</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
    <link rel="stylesheet" href="mypageLikeMusical.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="favorite-show-1">
        <div class="login-header">
          <div class="flex-row-fa">
            <div class="show-logo">
              <div class="frame"><div class="image"></div></div>
            </div>
            <div class="search-bar">
              <div class="search"></div>
              <input class="search-bar-input" />
            </div>
            <div class="right-menu">
              <div class="cart"><div class="icon-cart"></div></div>
              <div class="user"></div>
              <div class="log-in"></div>
            </div>
          </div>
          <div class="flex-row-e">
            <div class="categories">
              <div class="frame-2">
                <div class="button">
                  <div class="button-title">
                    <span class="button-title-3">회원 조회</span>
                  </div>
                </div>
                <div class="line"></div>
                <div class="button-4">
                  <div class="button-title-5">
                    <span class="button-title-6">장소 관리</span>
                  </div>
                </div>
                <div class="line-7"></div>
                <div class="button-8">
                  <div class="button-title-9">
                    <span class="button-title-a">도서 등록</span>
                  </div>
                </div>
                <div class="line-b"></div>
                <div class="button-c">
                  <div class="button-title-d">
                    <span class="button-title-e">도서 조회</span>
                  </div>
                </div>
                <div class="line-f"></div>
                <div class="button-10">
                  <div class="button-title-11">
                    <span class="button-title-12">공연 등록</span>
                  </div>
                </div>
                <div class="line-13"></div>
                <div class="button-14">
                  <div class="button-title-15">
                    <span class="button-title-16">공연 조회</span>
                  </div>
                </div>
                <div class="line-17"></div>
                <div class="button-18">
                  <div class="button-title-19">
                    <span class="button-title-1a">문의 관리</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mileage-description">
              <div class="mileage-description-button">
                <div class="button-title-1b">
                  <span class="button-title-1c">마일리지</span>
                </div>
              </div>
              <div class="inquiry-button">
                <div class="button-title-1d">
                  <span class="button-title-1e">1:1문의</span>
                </div>
              </div>
              <div class="line-1f"></div>
            </div>
          </div>
        </div>
        <div class="flex-row-fa-20">
          <div class="sidebar">
            <div class="mypage-top">
              <div class="favorite-count">
                <div class="favorite-performance">
                  <span class="favorite-performance-21">찜한 공연</span>
                  <div class="favorite-count-22">
                    <span class="number-10">10</span>
                  </div>
                </div>
                <div class="favorite-performance-23">
                  <span class="favorite-actor">찜한 배우</span>
                  <div class="favorite-count-24">
                    <span class="number-10-25">10</span>
                  </div>
                </div>
                <div class="line-26"></div>
              </div>
              <span class="user-name">ㅇㅇㅇ님</span
              ><span class="mypage-text">의 마이페이지</span>
            </div>
            <div class="frame-27">
              <div class="shopping-history">
                <span class="shopping-history-28">쇼핑 내역</span
                ><span class="booking-history">예매 내역</span>
              </div>
              <div class="library">
                <span class="library-29">라이브러리</span
                ><span class="favorite-list">찜 목록</span
                ><span class="review-management">리뷰 관리</span
                ><span class="inquiry-history">문의 내역</span>
              </div>
              <div class="member-info">
                <span class="member-info-2a">회원 정보</span
                ><span class="member-info-management">회원 정보 관리</span
                ><span class="mileage">마일리지</span>
              </div>
            </div>
          </div>
          <div class="main-content">
            <div class="frame-2b">
              <div class="favorite-shows">
                <span class="favorite-shows-2c">찜한 공연</span>
              </div>
              <div class="poster-layout">
                <div class="favorite">
                  <div class="poster"></div>
                  <span class="shaking-flowers">흔들리는 꽃들 속에서</span>
                </div>
                <div class="favorite-2d">
                  <div class="poster-2e"></div>
                  <span class="shaking-flowers-2f">흔들리는 꽃들 속에서</span>
                </div>
                <div class="favorite-30">
                  <div class="flex-row-ad">
                    <div class="ticketcast-checkbox">
                      <div class="image-31"></div>
                    </div>
                    <div class="p"></div>
                    <div class="poster-32"></div>
                  </div>
                  <span class="shaking-flowers-33">흔들리는 꽃들 속에서</span>
                </div>
              </div>
              <div class="poster-layout-34">
                <div class="favorite-35">
                  <div class="poster-36"></div>
                  <span class="shaking-flowers-37">흔들리는 꽃들 속에서</span>
                </div>
                <div class="favorite-38">
                  <div class="poster-39"></div>
                  <span class="shaking-flowers-3a">흔들리는 꽃들 속에서</span>
                </div>
                <div class="pick">
                  <div class="poster-3b"></div>
                  <span class="shaking-flowers-3c">흔들리는 꽃들 속에서</span>
                </div>
                <div class="pick-3d">
                  <div class="poster-3e"></div>
                  <span class="shaking-flowers-3f">흔들리는 꽃들 속에서</span>
                </div>
              </div>
            </div>
            <div class="poster-layout-40">
              <div class="pick-41">
                <div class="poster-42"></div>
                <span class="shaking-flowers-43">흔들리는 꽃들 속에서</span>
              </div>
              <div class="pick-44">
                <div class="poster-45"></div>
                <span class="shaking-flowers-46">흔들리는 꽃들 속에서</span>
              </div>
              <div class="pick-47">
                <div class="poster-48"></div>
                <span class="shaking-flowers-49">흔들리는 꽃들 속에서</span>
              </div>
              <div class="pick-4a">
                <div class="poster-4b"></div>
                <span class="shaking-flowers-4c">흔들리는 꽃들 속에서</span>
              </div>
            </div>
          </div>
          <div class="pick-4d">
            <div class="poster-4e"></div>
            <span class="shaking-flowers-4f">흔들리는 꽃들 속에서</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
