div,input,textarea{
	box-sizing: border-box;
}

.header {
	height: 100px;
	min-width: 1200px;
	background-color: pink;
}

.footer {
	height: 100px;
	min-width: 1200px;
	background-color: pink;
}





.formFrame {

	padding: 30px;
	height: auto;
	width: 80%;
	max-width: 600px;
	margin: auto;
	border-radius: 10px;
	border: 1px solid;
	margin-top: 50px;
	margin-bottom: 50px;
}

.formInput {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;
	
	
}

.text {
	height: 200px;
	
	
}

.w-100 {
	width: 100%;
	padding: 10px;
}



button {
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	background-color: #ff9400;
	color: white;
	border-radius: 6px;
	font-size: 18px;
	cursor: pointer;

	
}


