<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>배우 목록</title>

    <link rel="stylesheet" th:href="@{/css/headerCss/headerAdmin.css}"> 
    <link rel="stylesheet" th:href="@{/css/footerCss/footerAdmin.css}"> 
    <link rel="stylesheet" th:href="@{/css/admin/adminActorList.css}">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
</head>

<body>
	<div th:replace="~{header/headerAdmin :: headerAdmin}"></div>
	<section>
		<div class="dateSearch"></div>
		<div class="tableBox" style="width: 1200px; font-size: 14px;">
			<table>
				<tr>
					<th scope="col" class="userNum">번호</th>
					<th scope="col" class="userName">이름</th>
					<th scope="col" class="actorBirth">생일</th>
					<th scope="col" class="actorDebut">데뷔일</th>
					<th scope="col" class="actorEdu">학력</th>
					<th scope="col" class="actorNation">국적</th>			
				</tr>
				<tr th:each="actor : ${actors}">
					<td class="actorNum" th:text="${actor.actorNo}">1</td>
					<td class="actorName">
						<a th:href="@{/admin/actorDetail(actorNo=${actor.actorNo})}" th:text="${actor.actorName}">ㅇㅇㅇ</a>
					</td>
					<td class="actorBirth" th:text="${actor.actorBirth}">95.12.12</td>
					<td class="actorDebut" th:text="${actor.actorDebut}">95.12.12</td>
					<td class="actorEdu" th:text="${actor.actorEdu}">대학만?</td>
					<td class="actorInfo" th:text="${actor.actorNation}">대한민국</td>
				</tr>
			</table>
			<div class="pagination">
                <span th:if="${currentPage > 0}">
                    <a th:href="@{/admin/actors(page=${currentPage - 1}, size=${size})}">이전</a>
                </span>
                <!-- 페이지 번호 수동 생성 -->
                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/admin/members(page=${i}, size=${size})}" th:text="${i + 1}"></a>
                </span>
                <span th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/admin/actors(page=${currentPage + 1}, size=${size})}">다음</a>
                </span>
            </div>
		</div>
	</section>
	<div th:replace="~{footer/footer :: footer}"></div>
</body>
</html>