<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배우 수정</title>
    
    <link rel="stylesheet" th:href="@{/css/headerCss/headerAdmin.css}"> 
    <link rel="stylesheet" th:href="@{/css/footerCss/footerAdmin.css}"> 
    <link rel="stylesheet" th:href="@{/css/admin/adminActorUpdate.css}">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
    <script src="adminActorUpdate.js" th:src="@{/js/admin/adminActorUpdate.js}"></script>

</head>
<body>
	<div th:replace="~{header/headerAdmin :: headerAdmin}"></div>
    <div id="main" th:object="${actor}">
    <form th:action="@{/admin/actorUpdate}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="actorNo" th:value="${actor.actorNo}">
        <div id="actor_info">
            <div class="actor_detail">
                <div id="actor_img" class="actor_img" 
     					style="border: 1px solid; width: 264px; height: 309px; background-size: cover; background-position: center; background-repeat: no-repeat;">
                <img th:src="@{${actor.showActorFile.filePath.substring(3)}}" alt="Poster" style="width: 264px; height: 309px; object-fit: cover"/>
    				<input type="file" id="fileInput" name="file" style="display: none;" accept=".jpg, .jpeg, .png"/>
				</div>  
                <div class="actor_cont">
                    <textarea class="auto-resize name" th:text="${actor.actorName}" name="actorName" style="width: 175px;height: 48px;margin-left: -454px;"></textarea>
                    <ul class="text">
                        <li>
                            출생 | <textarea th:text="${actor.actorBirth}" name="actorBirth" class="auto-resize birth" style="width:200px; margin-bottom: -10px;line-height: 0.8;"></textarea>
                        </li>
                        <li>
                            국적 | <textarea th:text="${actor.actorNation}" name="actorNation" class="auto-resize birth" style="width:200px; margin-bottom: -10px;line-height: 0.8;"></textarea>
                        </li>
                        <li>
                            학력 | <textarea  th:text="${actor.actorEdu}" name="actorEdu" class="auto-resize birth" style="width:200px; margin-bottom: -10px;line-height: 0.8;"></textarea>
                        </li>
                        <li>
                            데뷔 | <textarea  th:text="${actor.actorDebut}" name="actorDebut" class="auto-resize birth" style="width:200px; margin-bottom: -10px;line-height: 0.8;"></textarea>
                        </li>
                    </ul>   
                </div>
            </div>
        </div>

        <div id="actor_career">
            <div class="cont_title">수상</div>
            <textarea class="award-list auto-resize" th:text="${actor.actorInfo}" name="actorInfo" style="resize: none;"></textarea>
        </div>
        <div class="update-button" style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
            <button class="register-button" style="padding: 10px 20px; background-color: #ff9400; color: white; border: none; border-radius: 5px; cursor: pointer;">등록</button>
             <a th:href="@{/admin/actorDetail(actorNo=${actor.actorNo})}" class="register-button" style="padding: 10px 20px; background-color: #ff9400; color: white; border: none; border-radius: 5px; cursor: pointer; text-decoration: none;">취소</a>
        </div>
    </form>
    </div>
    <div th:replace="~{footer/footer :: footer}"></div>
</body>
</html>