<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공연 목록</title>

    <link rel="stylesheet" th:href="@{/css/headerCss/headerAdmin.css}"> 
    <link rel="stylesheet" th:href="@{/css/footerCss/footerAdmin.css}"> 
    <link rel="stylesheet" th:href="@{/css/admin/adminShowList.css}">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
</head>

<body>
	<div th:replace="~{header/headerAdmin :: headerAdmin}"></div>
	<section>
		<div class="dateSearch"></div>
		<div class="tableBox" style="width: 1200px; font-size: 14px;">
			<table>
				<tr>
					<th scope="col" class="showNum">번호</th>
					<th scope="col" class="showCate">장르</th>
					<th scope="col" class="showTitle" >제목</th>
					<th scope="col" class="showStartDate">시작일</th>
					<th scope="col" class="showEndDate">마감일</th>
					<th scope="col" class="showStartTime">시작시간</th>
					<th scope="col" class="showPlayTime">공연시간</th>
					<th scope="col" class="showPrice">가격</th>
				</tr>
				<tr th:each="show : ${shows}">
					<td class="showNum" th:text="${show.showNo}">1</td>
					<td class="showCate" th:text="${show.showCate}">뮤지컬</td>
					<td class="showTitle">
    					<a th:href="@{/admin/showDetail(showNo=${show.showNo})}" th:text="${show.showTitle}">공연 제목 인데</a>
					</td>
					<td class="showStartDate" th:text="${show.startDate}">24.12.15</td>
					<td class="showEndDate" th:text="${show.endDate}">24.12.18</td>
					<td class="showEndDate" th:text="${show.showStartTime}">14:00</td>
					<td class="showEndDate" th:text="${show.showPlayTime} + '분'">60분</td>
					<td class="showCount" th:text="${show.showPrice} + '원'">2</td>
				</tr>
			</table>
			<div class="pagination">
                <span th:if="${currentPage > 0}">
                    <a th:href="@{/admin/showList(page=${currentPage - 1}, size=${size})}">이전</a>
                </span>
                <!-- 페이지 번호 수동 생성 -->
                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/admin/showList(page=${i}, size=${size})}" th:text="${i + 1}"></a>
                </span>
                <span th:if="${currentPage < totalPages - 1}">
                    <a th:href="@{/admin/showList(page=${currentPage + 1}, size=${size})}">다음</a>
                </span>
            </div>
		</div>
	</section>
	<div>
		<div th:replace="~{footer/footer :: footer}"></div>
	</div>
</body>
</html>