<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<link rel="stylesheet" href="ticket_menu.css" />
</head>
<body>

<div class="container">	
	<div class="header"></div>
	
	<div class="left-menu">
	 <div class="MenuTitle">TICKET</div>
		<ul>
			<li class="뮤지컬">뮤지컬</li>
			<li class="콘서트">콘서트</li>
			<li class="스포츠">스포츠</li>
			<li class="전시/행사">전시/행사</li>
			<li class="클래식">클래식</li>
			<li class="아동/가족">아동/가족</li>
			<li class="연극">연극</li>
		</ul>
	</div>
	<div class="right">
			<div class="ticketGenre">뮤지컬</div>
			  <div class="row">
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>				  			  
			  </div>

			  <div class="row">
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>				  			  
			  </div>

			  <div class="row">
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>
				  
				  <div class="col-sm-4">
					<img src="https://via.placeholder.com/200x250">
					<h3>공연명</h3>
					<p>공연장소</p>
					<p>공연날짜</p>
					<p>후기평점 <span>5.0</span></p>
				  </div>				  			  
			  </div>

			  <div class="PageNav">
			  <span class="arrowLeft"></span><span class="arrowRight"></span>
			  </div>			  
	</div>
		

	<div class="footer"></div>
	
	
</div>	
</body>
</html>