<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--헤더 css-->
	<link rel="stylesheet" href="/css/headerCss/header.css" />
    <title>공연 목록</title>
    <link rel="stylesheet" href="/css/ticketmenuCss/ticket_menu.css" />
	<!--푸터 css-->
	<link rel="stylesheet" href="/css/footerCss/footer.css" />
    
</head>
<body>
<div class="container">
    <div th:replace="~{header/header :: header}"></div>

    <div class="menu-left">
        <div class="MenuTitle">TICKET</div>
        <ul class="ShowList">
            <li><a th:href="@{/show/ticketMenu}">전체</a></li>
            <li><a th:href="@{/show/ticketMenu/뮤지컬}">뮤지컬</a></li>
            <li><a th:href="@{/show/ticketMenu/콘서트}">콘서트</a></li>
            <li><a th:href="@{/show/ticketMenu/스포츠}">스포츠</a></li>
        	<!-- 수정된 부분 전시를 전시-행사로 -->
            <li><a th:href="@{/show/ticketMenu/전시-행사}">전시/행사</a></li>
            <li><a th:href="@{/show/ticketMenu/클래식}">클래식</a></li>
            <!-- 수정된 부분 아동을 아동-가족으로 -->
            <li><a th:href="@{/show/ticketMenu/아동-가족}">아동/가족</a></li>
            <li><a th:href="@{/show/ticketMenu/연극}">연극</a></li>
        </ul>
    </div>

    <div class="menu-right">
    	<!-- 아동-가족 으로 노출될경우 -을 / 으로 변경하는 th처리-->
        <div class="ticketGenre" th:utext="${showCate.replace('-', '/')}">전체</div>
        <div class="row" th:each="show : ${shows}">
            <div class="col-sm-4">
                <a class="showLink" th:href="@{'/show/ticketDetailPage/' + ${show.showNo}}">
                	<!-- 포스터 이미지 경로-->
                    <img class="posterImg" th:src="@{${show.showActorFile.filePath.substring(3)}}" alt="공연 이미지">
                    <h3 th:text="${show.showTitle}">공연명</h3>
                </a>
					<p>대학로 아트포레스트 1관</p>
					<p th:text="${#dates.format(show.startDate, 'yyyy-MM-dd')} + ' ~ ' + ${#dates.format(show.endDate, 'yyyy-MM-dd')}">공연날짜</p>
					<br>
					<p>후기평점:</p>
				    <div class="star-rating">
				        <!-- 평균 평점을 별로 변환 -->
				        <span th:each="i : ${#numbers.sequence(1, 5)}"
				              th:classappend="${show.averageScore >= i ? 'star filled' : 'star'}">
				            ★
				        </span>
				        <span th:text="${#numbers.formatDecimal(show.averageScore, 1, 1)}">0.0</span>
				    </div>
            </div>
        </div>

        <!-- 페이지네이션 -->
        <div class="PageNav">
            <a th:if="${currentPage > 0}" th:href="@{'/show/ticketMenu?page=' + ${currentPage - 1}}">이전</a>
            <span th:text="${currentPage + 1} + ' / ' + ${totalPages}"></span>
            <a th:if="${currentPage + 1 < totalPages}" th:href="@{'/show/ticketMenu?page=' + ${currentPage + 1}}">다음</a>
        </div>
    </div>

   <div th:replace="~{footer/footer :: footer}"></div>
   
</div>
</body>
</html>